

a{
    color: #cef00c;
    font-size: 20px;
    padding-inline-start: 2%;
}
a:hover{
	color: #75B61A;
	text-decoration:dotted;
}
section {
    padding: 100px 0px;
}
img{
	width: 100%;
}
header#header{
	background: #040414;
	border-bottom: 2px solid #75B61A;
}
.my-menu{
	float: inline-end;
}
.my-navbar li a{
	font-weight: bold;
}
.mbl-btn i{
	color: #1a82b6;
}
.shopping-bag i {
    font-size: 50px;
    color: #2dedf4;
}


.head-text {
    text-align: left;
}

img.head-img img {
}

img.head-img {
    width: 500px;
}
button .my-btn{
	background: #75b61ac2;
	color: rgb(239, 36, 36);
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
}
.my-btn:hover{
	background: #851ab6;
	color: rgb(135, 241, 245);
	
}
section#shiping {
    padding: 50px;
    background: #001524;
    color: rgb(60, 158, 135);
}

.box-icon {
    display: inline-block;
}

.box-title {
    display: inline-grid;
    margin-left: 20px;
}

.box-title h3 {
    font-size: 23px;
}

.box-icon i {
    color: #b61a70;
    font-size: 30px;
}
.shipping-box {
    background: #1c3b3c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.products {
    background: #599f98;
    padding: 10px;
	transition: all .5s;
}

.product-desc {
    text-align: center;
}
.product-rating{
	width: 100px;
	margin: auto;
	margin-bottom: 5px;
}
.products:hover {
    box-shadow: 0px 0px 5px 1px #1d2c2b;
}

.product-img {
    margin-bottom: 20px;
}
.product-img img{
	cursor: pointer;
}
footer#footer {
    background: #001524;
    color: #806b76;
    padding: 60px;
}
.app-store {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
}

.app-img {
    float: left;
}
.footer-title{
    margin-bottom: 20px;
}
.footer-title h5 {
    color: rgb(33, 145, 219);
}
.footer-logo{
	width: 150px;
	margin: auto;
}
.footer-desc ul{
	list-style: none;
	padding-left: 0px;
}
.footer-desc ul li{
	padding: 6px 0px;
}
.footer-desc ul li a{
	
}